.Header {
  height: 100px;
  width: 100vw;
  background-color: #edeeee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.Right {
  padding-right: 16px;

  height: fit-content;
  background-color: #edeeee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Logo {
  height: 20px;
  width: 50px;
  height: fit-content;
  background-color: rgb(216, 35, 35);
}
